{% load static %}
<!doctype html>



<html lang="pt-BR" data-layout="topnav" data-bs-theme="dark" data-layout-mode="fluid" data-menu-color="dark" data-topbar-color="light" data-layout-position="fixed" data-sidenav-size="default">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task App</title>

    <link rel="icon"  href="{% static 'TaskApp/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/css/app-creative.min.css' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/css/icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/libs/sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/libs/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/libs/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'TaskApp/libs/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}">

    <link rel="stylesheet" href="{% static 'TaskApp/css/custom.css' %}">

  </head>

  <body class="antialiased fundo">